.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &_text{
        h1{
            width: 100px;
            font-size: 60px;
            line-height: 60px;
            font-family:'Cinzel', serif;
            span{
                font-size: 85px;
            }
        }
    }
    &_img{
        img{
            width: 400px;
        }
    }
}